@import url('https://fonts.googleapis.com/css2?family=Crimson&display=swap');

:root {
    --primary-color: #a08460;
    --secondary-color: #f5f5dc;
    --background-light: #c2b280;
    --background-dark: #d5c58a;
    --text-color-light: #2c3e2c;
    --text-color-dark: #614400;
    --hover-bg: transparent;
    --hover-text-color: #f28500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    transition: all 0.5s ease;
}

body {
    font-family: "Crimson", serif;
    background-color: var(--background-light);
    color: var(--text-color-light);
    position: sticky;
    transition: background-color 0.5s ease;
}

body.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}

body.dark-mode .navbar {
    background-color: var(--text-color-light);
}

body.dark-mode .sidebar {
    background-color: transparent;
    color: var(--text-color-light);
}

body.dark-mode .form-control {
    background-color: #f5f5dc;
    color: #361e11;
}

body.dark-mode .nav-socials a {
    color: #ff7733;
}

body.dark-mode footer {
    background-color: #362d14;
}

.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-items ul {
    list-style-type: none;
    padding: 0;
}

.nav-items ul li {
    margin: 10px 0;
}

.nav-items ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px;
    display: block;
    transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.nav-items ul li a:hover {
    background-color: var(--hover-bg);
    color: var(--text-color-dark);
    transform: scale(1.05);
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 225px;
    height: 5vh;
    background-color: transparent;
    position: fixed;
    margin-top: 20px;
    top: 0;
    left: 0;
    margin-left: 80px;
    transition: margin 0.5s ease;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
}

.sidebar.toggled {
    margin-left: -265px;
}

#page-content-wrapper {
    margin-left: 265px;
    transition: margin 0.5s ease;
    padding: 20px;
}

#page-content-wrapper.toggled {
    margin-left: 0;
}

.custom-toggle {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.custom-toggle .form-check-input {
    display: none;
}

.custom-toggle label {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2d3815;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.custom-toggle label::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff7733;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.custom-toggle .form-check-input:checked + label {
    background-color: #362b14;
}

.custom-toggle .form-check-input:checked + label::before {
    transform: translateX(25px);
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

body.dark-mode .hero-image {
    background-size: contain;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 10px solid #f5f5dc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    margin: 20px auto;
}

.first-section {
    background-image: url('Midterm_Project_Cover.jpg'); 
    height: 300px;
}

.second-section {
    background-image: url('Coding_Activities.jpg');
    height: 300px;
}

.third-section {
    background-image: url('Uncover_Social_Self.jpg');
    height: 300px;
}

.fourth-section {
    background-image: url('Constitution_of_the_Philippines.jpg');
    height: 300px;
}

.fifth-section {
    background-image: url('Final_Project.jpg');
    height: 300px;
}

.sixth-section {
    background-image: url('Templates.jpg');
    height: 300px;
}

.seventh-section {
    background-image: url('Assignment_No.1.jpg');
    height: 300px;
}

.eigtht-section {
    background-image: url('Assignment_No.2.jpg');
    height: 300px;
}

.ninth-section {
    background-image: url('Assignment_No.3.jpg');
    height: 300px;
}

.tenth-section {
    background-image: url('Research_Mapping.jpg');
    height: 300px;
}

.download-section h2 {
    margin-bottom: 20px;
    color: #4b4a37;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #f5f5dc;
    background-color: #435320;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.download-btn:hover {
    background-color: #f28500;
}

footer {
    background-color: #a08460;
    color: #f28500;
    padding: 20px;
}

.nav-socials a {
    font-size: 30px;
    margin: 10px;
    color: var(--secondary-color);
}

.nav-socials a:hover {
    opacity: 0.7;
}

.circle-image {
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.btn-light {
    background-color: transparent;
    border: none;
}

.btn-light:hover {
    background-color: var(--text-color-dark);
}

@media (max-width: 700px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .video-background,
    .hero-image {
        width: 90%;
        height: auto;
    }

    footer {
        padding: 10px;
    }

    .circle-image {
        width: 80px;
        height: 80px;
    }

    .sidebar {
        display: none;
    }

    #page-content-wrapper {
        padding: 10px;
    }
}

@media (max-width: 575px) {
    .navbar {
        padding: 10px;
    }

    .circle-image {
        width: 70px;
        height: 70px;
    }

    footer {
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    footer {
        padding: 30px;
    }

    .circle-image {
        width: 120px;
        height: 120px;
    }
}